# Ignore files and directories commonly not needed in Docker images

# Ignore version control files
.git
.gitignore

# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore virtual environment directories
.venv/
.env/
.env-bak/

# Ignore local development files
*.log
*.swp
.DS_Store

# Ignore any other unnecessary files or directories specific to your project
